
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
*:focus {
    outline: none;
}
html {
    //this is default font size of the website
    font-size: $page-font-size;
}
body {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif !important;
}