.u-colum-height-40rem {
    height: 40rem;
}
.u-margin-big {
    margin: 8rem 0;
}
.u-page-common-bg {
    background-color: #efefef;
}
.u-color-primary {
    color: $color-primary;
}
.u-color-primary-bg {
    background-color: $color-primary;
}
.u-margin-big {
    margin: 8rem 0;
}
.u-margin-top {
    margin-top: 8rem !important;
}
.u-navigation-bg {
    background-color: rgba(131, 131, 131, 0.5);
}
.u-width-90 {
    width: 90%;
}
.u-border-radius-15 {
    border-radius: 10%;
}
.u-container-250px {
    height: 25rem;
}