.ceo-msg{
    padding: 8rem 0;
}
.img-box {
    position: relative;
}
.ceo-details{
    &__name {
        background-color: rgba($color-primary, .8);
        padding: 1rem;
    }
    position: absolute;
    bottom: 2rem;
}
.about-to-service {
    padding: 8rem 0;
    background-image: linear-gradient(to right, rgba($color-primary, .7), rgba($color-primary,.7)), url('/source/img/about-service.jpg');
    background-size: cover;
    background-position: center;
}
