.header{
    height: 100vh;
    background-image: linear-gradient(to right, rgba($color-black,.4), rgba($color-black,.4)), url('/source/img/hero-bg.jpg');
    background-position: center;
    background-size: cover;
    nav {
        background-color: #fff;
        position: relative;
    }
}
.header-content{
    position: relative;
    &__box{
        position: absolute;
        top: 50%;
    }
}
