.header{
    height: 80vh;
    background-image: linear-gradient(to right, rgba($color-primary,.4), rgba($color-primary,.4)), url('./source/img/painting-slide-1.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    nav {
        background-color: rgba(131,131,131,.5);
    }
}
.content-box {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-47%,-50%);
    &__caption{
        
    }
    &__description {
        margin-bottom: 5rem;
    }
    &__button {
    
    }
}