.hero-sub-section {
    background-color: #efefef;
    padding: 8rem 0;
}
.skills {
    padding: 8rem 0;
}
.contactUs-Home-banner{
    background-image: linear-gradient(to right, rgba($color-primary,.4), rgba($color-primary,.4)), url('/source/img/home-banner-painting.jpg');
    background-position: top;
    background-size: cover;
    height: auto;
    padding: 8rem 0;
}
.footer{
    padding: 8rem 0;
    background-color: #959595;
}