.banner {
    background-image: linear-gradient(to right, rgba(131,131,131,.5), rgba(131,131,131,.5)), url('./source/img/contact/banner.jpg');
    background-position: center;
    background-size: cover;
    height: 30vh;
}