//primary button for the website
.btn-primary {

    &:visited,
    &:link {
        @include btn-basic;
        color: $color-white;
        border: 2px solid $color-white;
    }

    &:hover,
    &:active {
        color: $color-black;
        background-color: $color-white;
    }
}

//when hover black color background display
.btn-black {

    &:visited,
    &:link {
        @include btn-basic;
        color: $color-black;
        border: 2px solid $color-black;
    }

    &:hover,
    &:active {
        color: $color-white;
        background-color: $color-black;
    }
}

//button without border
.btn-plane {
    text-decoration: none;

    &:hover {
        color: $color-light-gray !important;
    }
}

//secondary button with filled color
.btn-fill {

    &:link,
    &:visited {
        @include btn-basic;
        color: $color-black;
        background-color: $color-white;
    }
    &:hover {
        background-color: $color-primary;
        color: $color-white;
    }
}

.btn-fill-blue {
    &:link,
    &:visited{
        background-color: $color-primary;
        color: $color-white;
    }
    &:hover {
        background-color: $color-black;
    }
}