
.sub-section-box2 {
    background-image: url('/source/img/SAFIYA_koranpeedika.png');
    background-size: cover;
    background-position: center;
    height: 90%;

    &__tittle {
        opacity: 0;
        font-size: 2rem;
        color: $color-white;
        font-weight: 600;
        vertical-align: middle;
        transition: all .3s;
    }

    &:hover &__tittle {
        opacity: 1;
        vertical-align: middle;
    }
    &:hover {
        background-image: linear-gradient(to bottom right, rgba($color-primary,.4), rgba($color-primary,.8)), url('/source/img/SAFIYA_koranpeedika.png');;
    }
}

